# Java class files
*.class

# Maven output
/target/

# Logs
*.log

# IDEs
# IntelliJ
.idea/
*.iml
*.iws
out/

# Eclipse
.project
.classpath
.settings/

# NetBeans
/nbproject/private/
/build/
/dist/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

